<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="loggerSettings" type="BaseLogger.Models.loggerSettings, BaseLogger" />
		<section name="logrotateSettings" type="BaseClass.Model.ConfigModels.logrotateSettings, BaseClass" />
	</configSections>

	<loggerSettings>
		<settings>
			<add key="AppName" value="LogRotateService"/>
			<add key="LoggingLevel" value="2"/>
			<add key="DebugState" value="1"/>
		</settings>
	</loggerSettings>
	<logrotateSettings>
		<settings>
			<add key="Paths" value=""/>
			<add key="Extensions" value="log"/>
			<add key="ZippedFileCount" value="1"/>
			<add key="RotationType" value="daily"/>
			<add key="ExecutionTime" value=""/>
		</settings>
	</logrotateSettings>
</configuration>